.board {
  display: grid;
  width: 600px;
  height: 600px;
  gap: 0;
  margin: auto;
  justify-content: stretch;
  border: 1px solid black;
  border-radius: 3px;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.color {
  background-color: rgb(22, 107, 107);
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}
